.post {
  border-radius: 6px;
  background-color: #ffffff;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
}

/* can control size of iframe here */
.embed-iframe {
  width: 100%;
  height: 100%;
}

.myIframe {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
}

.card-header {
  background-color: white;
}

.card-caption {
  text-align: center;
  margin: 22px 0px;
  padding: 5px 10px;
}

.card-body {
  padding: 0px;
  text-align: center;
}

.card-body input {
  border-radius: 5px;
}

.card-footer {
  border-top: none;
  background-color: white;
  display: flex;
  justify-content: space-around;
}
