.Modal {
  /* display: flex; */
  align-items: center;
  border-radius: 4px; /* or 0.4rem */
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 80%;
  height: 600px;
  border: 0.5px solid #ccc;
  padding: 30px;
  left: 15%;
  top: 5%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  overflow: scroll;
}

.Modal-songSearch {
background-color: red;
color: blue;
z-index: 1000;
}

@media (min-width: 600px) {
  .Modal {
      width: 600px;
      height: 500px;
      margin: auto;
      left: calc(50% - 250px);
  }
}