.result-pic-div {
    width: 200px;
    height: 200px;
    background-color: grey;
    overflow: scroll;
}

.result-pic {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.result {
    padding: 8px;
    border: 5px solid inherit;
    border-radius: 5px;
    margin-right: 10px; 
    border: 3px solid white;
}

/* .active-result {
    padding: 8px;
    border: 5px solid #34a5ff40;
    border-radius: 5px;
    background-color: #0099ff;
} */

.active-result {
    padding: 8px;
    border: 5px solid #1ed760;
    border-radius: 5px;
    background-color: #1ed760;
}

.music-missing-image {
    margin-top: 35px;
    margin-right: auto;
    height: 130px;
    width: 150px;
    margin-left: auto;
}